# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
           "hist", "par", "plot", "points", "rect", "text")
